# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true


# Matches multiple files with brace expansion notation
# Set default charset
[*.{c,h,cpp,hpp,tcc}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
