[submodule "src/qhexview"]
	path = src/qhexview
	url = git@github.com:eteran/qhexview.git
	branch = 1.1.1
[submodule "src/edisassm"]
	path = src/edisassm
	url = git@github.com:eteran/edisassm.git
	branch = 1.9.0
