[Desktop Entry]
Name=edb
GenericName="Evan's Debugger"
Comment="edb is a cross platform x86/x86-64 debugger"
Exec=edb
Icon=edb
Terminal=false
Type=Application
Categories=Development;Qt;Debugger;
